@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import 'modules/themify/themify-icons';
@import 'modules/browsingFilter/dropdown';

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}